{% extends "base.html" %}

{% block content %}
<h1>Sign Up</h1>

<form method="POST" action="{{ url_for('signup') }}">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" required><br><br>
    
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br><br>
    
    <input type="submit" value="Sign Up">
</form>

<p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
{% endblock %}
